# fly.toml
app = "sonora"
primary_region = "sea"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[http_service.checks]]
    interval = "5s"
    timeout = "2s"
    method = "GET"
    path = "/health"

[[vm]]
  memory = "1gb"   # you can drop to "256mb" later if needed
  cpu_kind = "shared"
  cpus = 1
